.alimentos {
    

    .js-conteudo-alimentos {
        display: none;
    }

    .js-conteudo-alimentos.ativo {
        display: block;
        animation: show .5s forwards;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translate3d(-50px, 0, 0);
        } 
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }
    
        .alimentos__titulo {
            @include titulo-section;
            

                @include mobile {
                    gap: .5rem;
                }

                @include tablet {
                    gap: 1.4rem;
                }
        }

        .img__alimentos {
            width: 12.5rem;

                @include mobile {
                    width: 7rem;
                }
        }

        .titulo {
            font-family: $fonte-titulo;
            font-size: 4rem;
            color: #fff;
            text-align: center;

                @include mobile {
                    font-size: 2rem;    
                }

                @include tablet {
                    font-size: 2.8rem;    
                }
        }

        .menu__alimentos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: .2rem;
            padding: 2rem 0rem;

                @include mobile {
                    gap: .5rem;
                    padding: 2rem 0.5rem;
                }

                @include tablet {
                    gap: 1rem;
                    padding: 2rem 0.5rem;
                }


        }

        .menu__item {
            @include btn-section;
            


                @include mobile {
                    font-size: 1.2rem;
                }

                @include tablet {
                    font-size: 1.2rem;
                }

                &:hover {
                    box-shadow: 0px 0px 2px 1px #000;
                    background-color: #000;
                    color: #fff;
                    transition: .4s;
                    border: 1px solid #fff;
                    transform: skewY(0deg);
                }    
        }

        /***** SESSÂO PISO *****/
        .piso__box {
            padding: 3rem 0rem;
        }

        .piso__titulo {
            @include card-titulo;
        }

        .piso__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .piso__slider {
            display: grid;
            justify-content: center
        }

        .piso__item {
            @include card-config;
        }

        .piso__img {
            width: 180px;
            margin-bottom: .5rem;
        }

        .piso__img--color {
            width: 40px;
            border-radius: 50%;
            margin-bottom: .5rem;
            cursor: pointer;
            border: 1px solid #000;

                &:hover {
                    transition: all .5s;
                    border: none;
                }
        }

       .piso__desc {
            font-family: $fonte-corpo;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 100;
        }

        .linha-divisoria {
            margin: .5rem 0rem;
        }

        .piso__preco--box {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;

        }

        .piso__preco {
            font-family: $fonte-corpo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        // .piso__strong {
        //     padding-bottom: .rem;
        // }

        .piso__strong strong {
            font-family: $fonte-corpo;
            font-size: 2rem;
        }

        .piso__juros {
            padding-bottom: .5rem;
            font-family: $fonte-corpo;
            font-weight: 100;
        }

        .piso__link--box {
            background-color: $cor-botoes;
            padding: .5rem;
            border-radius: 6px;
            cursor: pointer;
            box-shadow: 1px 1px 5px #000;
            font-family: $fonte-menu;
            font-weight: bold;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .3rem;
            margin: 0 auto;
            

            &:hover {
                background-color: #fff;
                transition: all .5s;
                color: #000;
            }

            &:hover .piso__link--ico  {
                color: #000;
            }

            &:hover .piso__link  {
                color: #000;
            }


        }

        .piso__link--ico {
            color: #fff;
        }

       .piso__link {
            color: #fff;

        }

        /***** SESSÂO FEIJÃO *****/
        .feijao__box {
            padding: 3rem 0rem;
        }

        .feijao__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }
        
        .feijao__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .feijao__item {
            @include card-config;
        }

        .feijao__img {
            width: 180px;
        }

        .feijao__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .feijao__peso {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .feijao__preco {
            @include card-preco;
        }

        /***** SESSÂO BISCOITOS *****/
        .biscoito__box {
            padding: 3rem 0rem;
        }

        .biscoito__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }

        .biscoito__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .biscoito__item {
            @include card-config;
        }

        .biscoito__img {
            width: 180px;
        }

        .biscoito__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .biscoito__preco {
            @include card-preco;
        }

        /***** SESSÂO FRUTAS *****/
        .frutas__box {
            padding: 3rem 0rem;
        }

        .frutas__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }

        .frutas__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .fruta__item {
            @include card-config;
        }

        .fruta__img {
            width: 180px;
        }

        .fruta__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .fruta__preco {
            @include card-preco;
        }

        /***** SESSÂO ENLATADOS *****/
        .enlatados__box {
            padding: 3rem 0rem;
        }

        .enlatados__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }

        .enlatados__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .enlatados__item {
            @include card-config;
        }

        .enlatado__img {
            width: 180px;
        }

        .enlatado__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .enlatado__preco {
            @include card-preco;
        }


        /***** SWIPER CONFIG *****/
        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
          }
    
          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 460px;
          }

        //   .swiper-pagination {
        //       padding-top: 4rem;
        //   }
}